# IDE / editor
.idea/
.vscode/

# Env files
.env
.env.*
!.env.example
.env.production.example

# Dependencies
node_modules/

# Build output
bin/
build/
dist/

# Generated Prisma Client
src/generated/

# Prisma local files
prisma/dev.db
prisma/dev.db-journal

# Coverage
coverage/

# Temporary files
tmp/
.temp/
.cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
